html{
    box-sizing: border-box;
}
*,*::before,*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font: 14px/1.5 Arial;
    display: grid;
    grid: auto auto/1fr 1000px 1fr;
}
@media (max-width:900px) {
    body {
        grid: auto auto auto/1fr 678px 1fr;
    }
}
@media (max-width:678px) {
    body {
        grid: auto auto/1fr;
    }
}
header {
    grid-area: 1/1/2/4;
    background: #999;
    text-align: center;
    padding: 30px 0;
}
@media (max-width:678px) {
    header {
        grid-area: 1/1/2/2;
    }
}
header .avatar {
    width: 62px;
    height: 62px;
    border-radius: 80%;
}
header h1{
    margin: 0;
    color: #fff;
}
header span{
    color: #eee;
}
main {
    grid-area: 2/2/3/4;
    display: grid;
    grid: auto/300px 700px;
}
@media (max-width:678px) {
    main {
        grid-area: 2/1/3/2;
        grid: auto auto/auto;
        padding: 0 12px 0 10px;
    }
}
.column1 {
    grid-area: 1/1/2/2;
}
@media (max-width:678px) {
    .column1 {
        grid-area: 1/1/2/2;
    }
}
main section{
    display: grid;
    grid: auto auto/50px 1fr;
    margin-top: 30px;
    align-items: center;
}
main section > span.iconfont {
    grid-area: 1/1/2/2;
}
main section > h2 {
    grid-area: 1/2/2/3;
    display: flex;
    align-items: center;
    font-size: 18px;
}
main section > h2::after {
    content: '';
    display: inline-block;
    height: 3px;
    background: #77a8a3;
    flex: 1;
    margin-left: 20px;
}
main section > .detail {
    grid-area: 2/2/3/3;
}

main section > .iconfont{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #77a8a3;
    color: #fff;
    display: grid;
    align-items: center;
    justify-content: center;
}
.basic-info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.basic-info ul li {
    display: flex;
    align-items: center;
}
.basic-info .detail .iconfont {
    font-size: 18px;
    margin-right: 15px;
}
.skills .detail {
    margin: 0;
    padding: 0;
}
.skills .detail li {
    margin-top: 10px;
}
.skills2 .detail{
    margin: 0;
    padding: 0;
}
.skills2 .detail dd {
    height: 4px;
    background: #ccc;
    margin: 5px 0 10px 0;
    border-radius: 4px;
}
.skills2 .detail .bar { 
    height: 4px;
    display: block;
    background: #77a8a3;
    border-radius: 4px;
}
.column2 {
    grid-area: 1/2/2/3;
    margin-left: 100px;
}
@media (max-width:678px) {
    .column2 {
        grid-area: 2/1/3/2;
        margin: 0;
    }
}
.layout1 .detail{
    list-style: none;
    margin: 0;
    padding: 0;
}
.layout1 .detail > li{
    display: grid;
    grid: auto auto/auto 1fr auto;
    align-items: center;
    grid-gap: 10px;
}
@media (max-width:678px) {
    .layout1 .detail > li {
        grid: auto auto auto/auto auto;
    }
}
.layout1 .detail .date {
    grid-area: 1/1/2/2;
}
.layout1 .detail h3 {
    grid-area: 1/2/2/3;
    margin: 0;
}
.layout1 .detail .major {
    grid-area: 1/3/2/4;
}
.layout1 .detail .bottom{
    grid-area: 2/2/3/4;
    margin: 0;
}
@media (max-width:678px) {
    .layout1 .detail .date {
        grid-area: 1/1/2/3;
    }
    .layout1 .detail h3 {
        grid-area: 2/1/3/3;
    }
    .layout1 .detail .major {
        grid-area: 1/2/2/3;
        justify-self: end;
    }
    .layout1 .detail .bottom{
        grid-area: 3/1/4/3;
    }
}
.education .detail .edu-linegap {
    padding-top: 30px;
}
.w-experience .detail .bottom ul{
    padding: 0;
    margin: 0;
}
.p-experience .detail .bottom ul{
    padding: 0;
    margin: 0;
}

